$color-bckgr: #b8ffa8;

$color-button: #d29376;
$color-button-active: #916550;
$color-button-hover: #e3a386;

$color-light: #dfef89;

$color-primary: #8ea253;
$color-primary-hover: #a6bd60;

$color-secondary: #367d56;
$color-secondary-hover: #3e9264;

$color-dark: #182932;
$color-dark-hover: #243d4a;

$color-road: #2f2f2f;
