.message {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.335);

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

  }

  &__window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: $color-dark;
    opacity: .8;
    color: $color-light;
    border-radius: 20px;
  }

  .mssg {
    &__text {
      margin-bottom: 10px;
    }

    &__btn {
      width: 100px;
      padding: 15px;
      border-radius: 10px;
      text-transform: uppercase;
      font-weight: 700;
      background: $color-primary;

      &:hover {
        background: $color-primary-hover;
      }
    }
  }

}